.login-container {
    -fx-background-color: linear-gradient(to bottom, #f5f7fa, #e4e9f0);
    -fx-padding: 40px;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 12, 0, 0, 6);
}

.title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.subtitle {
    -fx-font-size: 16px;
    -fx-text-fill: #7f8c8d;
}

.login-heading {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 20px 0 10px 0;
    -fx-text-fill: #34495e;
}

.input-field {
    -fx-font-size: 15px;
    -fx-padding: 12px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdde1;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.05), 3, 0, 0, 1);
}

.input-field:focused {
    -fx-border-color: #3498db;
    -fx-effect: dropshadow(gaussian, #3498db, 6, 0, 0, 0);
}

.login-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12px;
    -fx-background-radius: 8px;
    -fx-background-color: linear-gradient(to right, #3498db, #2980b9);
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.login-button:hover {
    -fx-background-color: linear-gradient(to right, #2980b9, #1f6391);
}

.message {
    -fx-font-size: 14px;
    -fx-text-fill: #e74c3c;
}

.footer {
    -fx-font-size: 12px;
    -fx-text-fill: #95a5a6;
}
/* =========================
   DASHBOARD
   ========================= */

.dashboard {
    -fx-background-color: #f5f7fa;
}

.dashboard-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.dashboard-subtitle {
    -fx-font-size: 17px;
    -fx-alignment: center;
}

.dashboard-heading {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px 0 10px 0;
}

.dashboard-button {
    -fx-pref-width: 180px;
    -fx-pref-height: 90px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

.exit-button {
    -fx-pref-width: 180px;
    -fx-pref-height: 90px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}


/* =========================
   PATIENTS
   ========================= */
.dashboard-button-small {
    -fx-pref-width: 120px;
    -fx-pref-height: 40px;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
}